{{define "main"}}

<h3>{{.Title}}</h3>
<p class="title-text">{{.Params.titleText}}</p>

<div class="colored-menu row">
    <div id="green" class="green home-div col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <figure id="" class="row">
            <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="/test" />
            <figcaption class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                test caption
            </figcaption>
        </figure>
    </div>
    <div id="red" class="red home-div col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h5 class="row">Projet en cours</h5>
    </div>
    <div id="blue" class="blue home-div col-lg-4 col-md-4 col-sm-12 col-xs-12">
    </div>
</div>

{{end}}