.mouette {
    top: 100px;
    right: 5%;
    opacity: 1;
}
.home-div {
    height: 350px;
    margin: 0;
    padding: 35px;
    text-align: center;
}
.home-div.row {
    text-align: center;
}
.home-div p {
    text-align: justify;
    font-size: 0.9rem;
    width: 100%;
    padding: 20px 30px 20px 30px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    height: 80%;
    display: -webkit-box; /*   !!!!! only in chrome -> change for other browsers  !!!! */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}
#contact {
    margin-top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-input {
    padding: 5px;
    font-size: 0.8rem;
}
#contact-message {
    min-height: 15rem;
}
.checkbox {
    padding-right: 0;
}
@media (min-height: 576px){
    #green {
     margin-top: 80px;
    }
    #blue {
        margin-top: 150px;
    }
}
