:root {
  --main-bg-color: #ebebeb;
  --dark-bg-color: #c0c0c0;
  --red: #d94b45;
  --blue: #51bfd6;
  --green: #d1cf1a;
  --facebook-blue: #3b5998;
  --font: 'Quicksand', sans-serif;
}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background-color: var(--main-bg-color); 
}
body{
  color: black;
  display: flex;
  flex-direction: column;
 }
 p {
  text-align: justify;   
 }
 .masked {
  -webkit-mask-image: url("../../mask.png");
  mask-image: url("../../mask.png");
  }
.green {
  background-color: var(--green);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}
body a {
color: black;
}
body a:hover {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
a:active {
  color: var(--blue);
}
#body {
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  font-family: var(--font);
 min-height: 100vh;
  
}
button {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
}
input , textarea {
  border-radius: 1px;
  border: 1px inset black;
  padding: 0.5rem;;
}
textarea {
  padding: 0.8rem;
}
h3, h5 {
  text-align: center;
  margin-top: 20px;
}
figcaption {
  font-size: 0.8rem;
  text-align: justify;
  padding-top: 10px;
  line-height: 1rem;
}
.title-text {
  padding: 20px 6% 50px 6%;  
}
.colored-div {
  padding: 30px 40px 30px 40px;
}
.checkbox {
  margin-top: 12px;
}
.checkbox label {
  padding: 0;
  margin-left: -10px;
}
#content {
 flex: 1 0 auto;
 flex-grow: 1;
 width: 100%;
 margin-bottom: 50px;
}
/*
.colored-menu {
  margin-left: -5%;
  margin-right: -5%;
}*/
@media (max-width: 1120px) {
  #main-nav {
    font-size: 1rem;
    margin-right: 0;
  }
  nav li {
    padding-right: 20px;
   }
}

@media (max-width: 968px){
  
  #main-nav {
    font-size: 0.7rem;
  }
  nav li {
    padding-right: 10px;
   }
   .footer-menu {
     padding-left: 0;
   }
}