:root {
  --main-bg-color: #ebebeb;
  --dark-bg-color: #c0c0c0;
  --red: #d94b45;
  --blue: #51bfd6;
  --green: #d1cf1a;
  --facebook-blue: #3b5998;
  --font: 'Quicksand', sans-serif;
}
* {
  box-sizing: border-box;
 
  text-align: left;
}
body{
  background-color: var(--main-bg-color); 
  color: black;
 }
body a {
color: black;
}
body a:hover {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
a:active {
  color: var(--blue);
}
#body {
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  font-family: var(--font);
}
button {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 3px;
}
input {
  border-radius: 3px;
  border: 1px inset;
}
#header {
  width: 100%;
  height: 80px;
}
#menu {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-right: 5%;
}
#logo {
  height: 80px;
  margin-top: -20px;
}
nav ul {
  list-style-type: none;
  text-align: right;
  display: flex;
  padding-bottom: 0.2rem;
  
}
#main-nav {
  border-bottom: solid black;
  margin-right: 50px;
}
nav li {
 padding-right: 50px;
}
#contact-nav{
  margin-bottom: 3px;
}
body .fa-facebook-f{
  color: var(--facebook-blue);
  margin-bottom: 3px;
  }
#footer {
  font-size: 0.8rem;
  background-color: var(--dark-bg-color);
  position: absolute;
  bottom: 0;
  padding: 30px;
  margin: 0;
}
#footer div {
  background-color: var(--dark-bg-color);
}
#footer .facebook-link {
  padding-right: 10px;
}
.footer-section-title {
  font-weight: bold;
  text-align: center;    
}
#newsletter-section, #footer-links{
  margin-left: 0px;
  margin-top: 15px;
}
#subscribe-button {
  background-color: var(--red);
}
.masked {
  -webkit-mask-image: url("../../mask.png");
  mask-image: url("../../mask.png");
  }
.green {
  background-color: var(--green);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}
.boulevard-item{
  
}
.boulevard-image{
  width: 100px;
}
@media (max-width: 1120px) {
  #main-nav {
    font-size: 1rem;
    margin-right: 0;
  }
  nav li {
    padding-right: 20px;
   }
}

@media (max-width: 968px){
  
  #main-nav {
    font-size: 0.7rem;
  }
  nav li {
    padding-right: 10px;
   }
}