{{define "main"}}
{{$list := .Pages}}
{{$len := (len $list)}}
{{ range $index, $element := $list }}
<!-- if index modulo 2 eq 0 margin less , else margin more
    thirds for the colors:: len - index % 2, 3
-->
<div class="boulevard-item col-lg-5 col-md-5 col-sm-5 col-xs-5" style="{{if eq (index 2)}}margin-left: 10%; {{else}}margin-left: 40%;{{end}}">
        <a href="{{.URL}}">{{.Name}}</a></br>
    {{.Content}}
    <img class="boulevard-image" src="{{.Params.thumbnail}}"/>
</div>
 
{{end}}
{{end}}
